:root{
  --text-color: #000000;
  --first-color: #f3f3f3;     
  --second-color: #9fd3c7; 
  --third-color: #385170;
  --fourth-color: #142d4c;
  --padding-container-mobile: 1rem 1.5rem;
  --padding-container-desktop: 1.5rem 2rem;
  --padding-button: .75em 1em;
  --drop-shaddow: 0 0 8px rgba(0,0,0,.1);
}

body{
  font-family: 'Poppins', sans-serif;
  transition: all .3s;
  background: var(--first-color);
}

a,
a:link,
a:visited{
  text-decoration: none;
}

.main__container{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.main__header{
  background: white;
  padding: var(--padding-container-mobile);
  border-bottom: 1px solid white;
  box-shadow: var(--drop-shaddow);
}


.btn{
  cursor: pointer;
  border: none;
  padding: var(--padding-button);
  border-radius: 5px;
}

.btn:hover{
  background: var(--second-color);
  color: white;
}

.main__content{
  text-align: center;
  margin-bottom: 3rem;
}

.main__content--button{
  margin: 1rem 0;
  cursor: pointer;
  padding: var(--padding-button);
  background: none;
  border: none;
  color: var(--second-color);
  border-radius: 5px;
  font-size: 1.5rem;
}

.main__content--button:hover{
  background: var(--second-color);
  color: white;
}

.blue{
  background: var(--third-color);
  color: #f3f3f3;
}

.red:hover{
  background: red;
  color: #f3f3f3;
}

.books_container{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  grid-auto-rows: 500px;
  /* grid-template-rows: auto;
  grid-auto-rows: max-content; */
  grid-gap: 2rem;
}


.book__card {
  max-width: 300px;
  background: white;
  padding: 1em;
  border-radius: 6px;
  padding: 1rem;
  transform: translateY(5px);
  text-align: left;
  transition: 0.3s ease-in;
  display: flex;
  flex-direction: column;
 justify-content: space-between;
}

.book__card:hover{
  transform: translateY(-5px);
  box-shadow: var(--drop-shaddow);
}

 img{
  width: 100%;
}

.book__card--image{
  aspect-ratio: 1/1;
  overflow: hidden;
  background: var(--first-color);
  border-radius: 6px;
}

.book__card--info{

}

.modal{
  position: fixed;
  z-index: 1;
  
  background:white;
  top: 50%;
  left: 50%;
  width: 300px;
  padding: var(--padding-container-desktop);
  text-align: center;
  border-radius: 6px;
  box-shadow: var(--drop-shaddow);
  transform: translate(-50%,-50%) scale(0);
  transition: all .2s ease-in-out;
}

.modal.active{
  transform: translate(-50%,-50%) scale(1);
}

.add__book--form{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 20px;
}

.add__book--form  input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--fourth-color);
}

.read{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add__book--form input[type="checkbox"] {
width: 20px;
height: 20px;
border: none;
accent-color: white;
}

input[type="checkbox"]:checked{  
  outline: 2px solid #9fd3c7;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.4);
}

.active{
  display: block;
}

@media screen and (min-width: 792px){
  .main__header{
    padding: var(--padding-container-desktop);
  }
  .main__container{
    justify-content: space-between;
  }
  .main__content--button{
    margin: 2rem 0;
  }

  /* .books_container{
    margin-top: 2rem;
  } */
}